database.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:unique name="login">
                    <xs:selector xpath="."/>
                    <xs:field xpath="users"/>
                </xs:unique>
                <xs:element name="password" type="xs:string" />
                <xs:unique name="email">
                    <xs:selector xpath="."/>
                    <xs:field xpath="users"/>
                </xs:unique>
              <xs:element name="user_hash" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>